$color-default: rgb(24, 26, 32);
$color-secondary: #fcd535;
$color-secondary-hover: #ffe476;
$color-secondary-dark: rgb(30 30 30);
$color-dark: #000000;
$color-light: #FFFFFF;
$color-default-hover: #E3E3E3;
